@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Учетная запись заблокирована";
}

<div class="message error">
    Ваша учетная запись была заблокирована, поскольку предпринято слишком много попыток входа с помощью неправильного пароля.
</div>
<p>
    Учетная запись будет автоматически разблокирована через 60 секунд. 
    Повторите попытку позднее.
</p>