@{
    WebSecurity.RequireAuthenticatedUser();

    // Задание страницы макета и заголовка страницы
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Смена пароля";

    bool isValid = true;
    bool isSuccess = false;
    var errorMessage = "";
    var currentPasswordError = "";
    var newPasswordError = "";
    var confirmPasswordError = "";
    var currentPassword = Request["currentPassword"];
    var newPassword = Request["newPassword"];
    var confirmPassword = Request["confirmPassword"];

    if (IsPost) {
        if (currentPassword.IsEmpty()) {
            currentPasswordError = "Введите свой текущий пароль.";
            isValid = false;
        }
        if (newPassword.IsEmpty()) {
            newPasswordError = "Введите новый пароль.";
            isValid = false;
        }
        if (confirmPassword.IsEmpty()) {
            confirmPasswordError = "Подтвердите свой новый пароль.";
            isValid = false;
        }
        if (confirmPassword != newPassword) {
            confirmPasswordError = "Подтверждение пароля не совпадает с новым паролем.";
            isValid = false;
        }

        if (isValid) {
            if (WebSecurity.ChangePassword(WebSecurity.CurrentUserName, currentPassword, newPassword)) {
                isSuccess = true;
            } else {
                errorMessage = "При попытке сменить пароль возникла ошибка. Обратитесь к владельцу сайта.";
            }
        } else {
            errorMessage = "Не удалось сменить пароль. Исправьте ошибки и повторите попытку.";
        }
    }
}

<form method="post" action="">
    <fieldset>
        <legend>Форма смены пароля</legend>
        <p>
            Используйте следующую форму для смены своего пароля. Вам потребуется ввести свой текущий пароль. 
            Если вы забыли свой пароль, щелкните <a href="@Href("~/Account/ForgotPassword")" title="Страница сброса пароля">здесь</a>.
        </p>
        @if (isSuccess) {
            <p class="message success">
                Пароль изменен!
            </p>
        }
        @if (!errorMessage.IsEmpty()) {
            <p class="message error">
                @errorMessage
            </p>
        }
        <ol>
            <li class="current-password">
                <label for="currentPassword">Текущий пароль:</label>
                <input type="password" id="currentPassword" name="currentPassword" title="Текущий пароль" @if(!currentPasswordError.IsEmpty()){<text>class="error-field"</text>} />
                @if (!currentPasswordError.IsEmpty()) {
                    <label for="currentPassword" class="validation-error">@currentPasswordError</label>
                }
            </li>
            <li class="new-password">
                <label for="newPassword">Новый пароль:</label> 
                <input type="password" id="newPassword" name="newPassword" title="Новый пароль" @if(!newPasswordError.IsEmpty()){<text>class="error-field"</text>} />
                @if (!newPasswordError.IsEmpty()) {
                    <label for="newPassword" class="validation-error">@newPasswordError</label>
                }
            </li>
            <li class="confirm-password">
                <label for="confirmPassword">Подтверждение пароля:</label> 
                <input type="password" id="confirmPassword" name="confirmPassword" title="Подтверждение пароля" @if(!confirmPasswordError.IsEmpty()){<text>class="error-field"</text>} />
                @if (!confirmPasswordError.IsEmpty()) {
                    <label for="confirmPassword" class="validation-error">@confirmPasswordError</label>
                }
            </li>
        </ol>
        <p class="form-actions">
            <input type="submit" value="Смена пароля" title="Смена пароля" />
        </p>
    </fieldset>
</form>

