@{
    // Задание страницы макета и заголовка страницы 
	Layout = "~/_SiteLayout.cshtml"; 
	Page.Title = "Вход";

    // Инициализация общих переменных страницы 
	var email = ""; 
	var password = ""; 
	var rememberMe = false;

    // Проверка 
	var isValid = true; 
	var emailErrorMessage = ""; 
	var passwordErrorMessage = "";

    // Если это запрос POST, проверяем и обрабатываем данные 
	if (IsPost) { 
		email = Request.Form["email"]; 
		password = Request.Form["password"]; 
		rememberMe = Request.Form["rememberMe"].AsBool();

        // Проверка электронной почты пользователя 
		if (email.IsEmpty()) { 
			emailErrorMessage = "Поле электронной почты заполнять обязательно."; 
			isValid = false; 
		}

        // Проверка пароля пользователя 
		if (password.IsEmpty()) { 
			passwordErrorMessage = "Необходимо указать пароль."; 
			isValid = false; 
		}

        // Подтвердите отсутствие ошибок при проверке 
		if (isValid) { 
			if (WebSecurity.UserExists(email) && WebSecurity.GetPasswordFailuresSinceLastSuccess(email) > 4 && WebSecurity.GetLastPasswordFailureDate(email).AddSeconds(60) > DateTime.UtcNow ) { 
			Response.Redirect("~/account/AccountLockedOut"); 
			return; 
		}

            // Попытайтесь войти в объект безопасности с использованием предоставленных учетных данных 
			if (WebSecurity.Login(email, password, rememberMe)) { 
				var returnUrl = Request.QueryString["ReturnUrl"]; 
				if (returnUrl.IsEmpty()){ 
					Response.Redirect("~/"); 
				} else { 
					Context.RedirectLocal(returnUrl); 
				} 
			}

            // Если мы сюда попали, то войти не удалось, сообщите об этом пользователю 
			isValid = false; 
		} 
	} 
}

<p>
   Введите ниже свой адрес электронной почты и пароль. Если у вас нет учетной записи, 
   создайте ее на <a href="@Href("~/Account/Register")">странице регистрации</a>.
</p>

@* Если при проверке обнаружена хотя бы одна ошибка, покажите ошибку *@ 
@if (!isValid) {
   <p class="message error">Возникли неполадки при обработке входа, и/или имеются ошибки в заполнении вашей формы.</p>
}

<form method="post" action="">
    <fieldset>
        <legend>Войдите в свою учетную запись</legend>
        <ol>
            <li class="email">
                <label for="email">Адрес электронной почты:</label>
                <input type="text" id="email" name="email" value="@email" title="электронная почта" @if(!emailErrorMessage.IsEmpty()){<text>class="error-field"</text>} /> 
				@* Ошибки проверки адреса выводятся на странице *@ 
				@if (!emailErrorMessage.IsEmpty()) {
                <label for="email" class="validation-error">
                    @emailErrorMessage
                </label>
                }
            </li>
            <li class="password">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" title="Пароль" @if(!passwordErrorMessage.IsEmpty()){<text>class="error-field"</text>} /> 
				@* Ошибки проверки пароля выводятся на странице *@ 
				@if (!passwordErrorMessage.IsEmpty()) {
                <label for="password" class="validation-error">
                    @passwordErrorMessage
                </label>
                }
            </li>
            <li class="remember-me">
                <label class="checkbox" for="rememberMe">Запомнить меня</label>
                <input type="checkbox" id="rememberMe" name="rememberMe" value="истина" title="Запомнить меня" @if(rememberMe){<text>checked="checked"</text>} />
            </li>
        </ol>
        <p class="form-actions">
            <input type="submit" value="вход в систему" title="Вход"/>
        </p>
        <p><a href="@Href("~/Account/ForgotPassword")">Забыли свой пароль?</a></p>
    </fieldset>
</form>