@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "О моем веб-сайте";
}
<p>
    Эта веб-страница была создана с помощью  ASP.NET Web Pages. Для получения дополнительных сведений посетите веб-сайт 
    <a href="http://www.asp.net">ASP.NET</a>.
</p>