@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Добро пожаловать на мой веб-сайт!";
}
<p>
    ASP.NET Web Pages позволяет создавать полнофункциональные приложения на основе .NET для Интернета.
</p>