@{
    // Задание страницы макета и заголовка страницы
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Благодарим за регистрацию";
}

@if (!WebSecurity.IsAuthenticated) {
    <h2>Учетная запись еще не активирована.</h2>
    <p>
       По указанному адресу отправлено письмо с инструкциями по 
       активации учетной записи.
    </p>
} else {
    <h2>Учетная запись активирована.</h2>
    <p>
        По-видимому, ваша учетная запись 
уже подтверждена.
    </p>
}